* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    background-color: #f5f5f5; 
  }
  
  img {
    max-width: 100%;
    display: block;
  }


  @font-face {
    font-family: 'Futura PT Light'; 
    src: url('../assets/fonts/FuturaPTLight.otf') format('opentype'); 
    font-weight: 300; 
    font-style: normal; 
  }
